<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<link rel="stylesheet" href="../css/style.css">

    <script src="js/module1.js"></script>

    <div ng-app="myApp" ng-controller="formCtrl" ng-show="temp"> 
       
        <Header class=" container header text-center mt-4  con-border">
            <div class="container-fluid ">
              <h1>Add/Update Employee Record</h1>
            </div>
        </Header>
        
        <form name="MyForm" ng-submit="sendForm()" > 
            <div class="container">
                  <div ng-if="errorMessage">{{ errorMessage }}</div>
            </div>
        <div class="container-md  con-border">
            <div class="row mt-4 ">
                <div class="col required-field ">
                  Emp No # (*) <input type="text" disabled />
                </div>
            </div></br>
            <div class="row">
                  <div class="col-6 ">
                    Firstname (*)<input name="Firstname" ng-model="Firstname" type="text" />
                  </div>
                  <div class="col-6 ">
                    Lastname (*)<input name="Lastname" ng-model="Lastname" type="text" />
                  </div>
            </div></br>
            <div class="row">
                <div class="col ">
                  Date of birth (*)<input name="birth" ng-model="birth" type="date"  style="margin-left: 4rem"/>
                </div>
               <div class="col">
                           Gender (*)<select style="size: 10; margin-left: 6rem">
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                            <option value="3">ND</option>
                          </select> 
                        </div>
          </div> </br>
          <div class="row" >
            <div class="col ">
              Mobile num (*)<input name="Mobile" ng-model="Mobile" type="phone" style="margin-left: 4rem"/>
            </div>
            <div class="col">
              Email (personal) (*)<input name="email" ng-model="email" type="email" style="margin-left: 2rem"/>
              <span class="error" style="margin-left: 10rem" ng-show="MyForm.email.$touched && MyForm.email.$invalid" >Please input valid email!</span>
            </div>
            
        </div></br>
        <div class="row">
            <div class="col-6 ">
                Joining date (＊)<input name="Joining" ng-model="Joining" type="date" style="margin-left: 3rem"/>
            </div>
            <div class="col">
                Employee level (＊) <select style="size: 10; margin-left: 1.8rem">
                 <option value="1">Male</option>
                 <option value="2">Female</option>
                 <option value="3">ND</option>
               </select> 
             </div>
        </div> </br>
        <div class="row">
            <div class="col-6 ">
                Post (＊)<input name="Post" ng-model="Post" type="text" style="margin-left: 6.4rem"/>
            </div>
            <div class="col">
                Blood group  <select style="size: 10; margin-left: 5rem">
                 <option value="1">Male</option>
                 <option value="2">Female</option>
                 <option value="3">ND</option>
               </select> 
             </div>
        </div> </br>
        
        <div class="row">
            <div class="col-6 ">
                Basic pay (＊)<input name="Basic_pay" ng-model="Basic_pay" type="text" style="margin-left: 4rem"/>
            </div>
            <div class="col-6 ">
                House allowance (＊)<input name="H_allowance" ng-model="H_allowance" type="text" style="margin-left: 1.1rem"/>
            </div>
        </div></br>
        <div class="row">
            <div class="col-6 ">
                Pan card no<input name="Pan_card" ng-model="Pan_card"  type="text" style="margin-left: 5rem"/>
            </div>
            <div class="col-6 ">
                Aadhaar card no<input name="Aadhaar_card" ng-model="Aadhaar_card" type="text" style="margin-left: 3.2rem"/>
            </div>
        </div></br>
        <div class="row">
            <div class="col-6 ">
                Permanent address <textarea  name="Permanent_address" ng-model="Permanent_address" row="30" col="50" style="margin-left: 1.4rem"></textarea>
            </div>
            <div class="col-6 ">
                Present address<textarea name="Present_address" ng-model="Present_address" row="50" col="50" style="margin-left: 3.3rem"></textarea>
            </div>
        </div></br>
        <div class="row">
            <div class="col text-center mb-4">
                <button type="submit" class="btn btn-primary">Submit
        
                </button>
                
            <button type="button" class="btn btn-primary button"><a href="..\Index.html">Cancel</a></button>
          
                 
                </button>
            </div>
        </div>
        
        </div>
        
        </form>
        </div>